// Breakpoints
// 480px - mobile
// 768px - tablet
// 1200px - desktop

// width: 1200px;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin-left: auto;
//   margin-right: auto;

.container {
  // Mobile

  max-width: 450px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  // Tablet
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  // Desktop
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
