.hero {
  max-width: 1600px;
  padding: 200px 0;

  text-align: center;
  margin-right: auto;
  margin-left: auto;

  background-color: #2f303a;
  background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
    url(../images/studio/hero_photo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
      url(../images/studio/mobile-header.jpeg);
    background-size: contain;
  }
  @media screen and (max-width: 1199px) {
    padding: 118px 0;
  }
}

.hero__title {
  color: #ffffff;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  max-width: 696px;

  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    max-width: 360px;
  }
}
